{% extends "base.html" %}
{% block contact %}
<div class="row">
  <div class="col-md-6">
	<p>Name: {{ contact.f_name }}</p>
	<p>Last name: {{ contact.l_name }}</p>
	<p>Date of birth: {{ contact.bday }}</p>
	<img width="300" src="{{MEDIA_URL}}{{contact.photo}}">
  </div>
  <div class="col-md-6">
	<p>Contacts:</p>
	<p>Email: {{ contact.email }}</p>
	<p>Jabber: {{ contact.jabber }}</p>
	<p>Skype: {{ contact.skype }}</p>
	<p>Other contacts:</p>
	<p>{{ contact.other }}</p>
    <p>Bio:</p>
	<p>{{ contact.bio }}</p>
  </div>
</div>
{% endblock %}