{% extends "base.html" %}
{% block edit %}
{{ form.media }}
<form role="form" class="form-horizontal" enctype="multipart/form-data" method="POST" id="form">
{% csrf_token %}
<div class="row">
<div class="col-md-6">
  <div class="form-group" >
    <span class="help-block">{{ form.f_name.errors }}</span>
    <label class="col-lg-3 control-label" for="{{ form.f_name.id_for_label }}">Name</label>
    <div class="col-lg-6">
        {{ form.f_name }}
    </div>
  </div>
  <div class="form-group">
    <span class="help-block">{{ form.l_name.errors }}</span>
    <label class="col-lg-3 control-label" for="{{ form.l_name.id_for_label }}">Last name</label>
      <div class="col-lg-6">
        {{ form.l_name }}
       </div>
  </div>
  <div class="form-group">
      <span class="help-block">{{ form.bday.errors }}</span>
    <label class="col-lg-3 control-label" for="{{ form.bday.id_for_label }}">Date of birth</label>
      <div class="col-lg-6">
          {{ form.bday }}
          </div>
  </div>
  <div class="form-group">
    <span class="help-block">{{ form.photo.errors }}</span>
    <label class="col-lg-3 control-label" for="{{ form.photo.id_for_label }}">Photo</label>
    <div class="col-lg-6">
      {{ form.photo }}
        </div>

  </div>
    <img class='col-md-offset-1' width="300" src="{{MEDIA_URL}}{{contact.photo}}">
</div>

<div class="col-md-6">
	<div class="form-group">
      <span class="help-block">{{ form.email.errors }}</span>
      <label class="col-lg-3 control-label" for="{{ form.email.id_for_label }}">Email</label>
        <div class="col-lg-6">
      {{ form.email }}
            </div>
    </div>
    <div class="form-group">
      <span class="help-block">{{ form.jabber.errors }}</span>
      <label class="col-lg-3 control-label" for="{{ form.jabber.id_for_label }}">Jabber</label>
        <div class="col-lg-6">
      {{ form.jabber }}
            </div>
    </div>
    <div class="form-group">
      <span class="help-block">{{ form.skype.errors }}</span>
      <label class="col-lg-3 control-label" for="{{ form.skype.id_for_label }}">Skype</label>
        <div class="col-lg-6">
      {{ form.skype }}
            </div>
    </div>
    <div class="form-group">
      <span class="help-block">{{ form.other.errors }}</span>
      <label class="col-lg-3 control-label" for="{{ form.other.id_for_label }}">Other contacts</label>
        <div class="col-lg-6">
      {{ form.other }}
            </div>
    </div>
    <div class="form-group">
        <span class="help-block">{{ form.bio.errors }}</span>
        <label class="col-lg-3 control-label" for="{{ form.bio.id_for_label }}">Bio</label>
        <div class="col-lg-6">
        {{ form.bio }}
            </div>
  </div>
</div>

<div class="col-md-11 col-md-offset-1">
    <p><b id="success_message">{{ success_message }}</b></p>
  <p><button type="submit" class="btn btn-default" id="submit" value="Submit">Submit</button>
  <a href='{% url 'index' %}'>Cancel</a></p>
</div>
 </div>
</form>
{% endblock %}